// Основные стили проекта

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.show {
  --display: block;

  display: var(--display);
}

.hide {
  --display: none;

  display: var(--display);
}

.spoiler {
  --transition: height .3s ease-out;

  overflow: hidden;
  transition: var(--transition);
  height: auto;
}
