extends ../includes/layout

block content
  main
    header: h1 Hello world!
    section
      header: h2 Основные фукнции на js
      ul
        li: a(href="/show-hide-toggle.html") Функции show(), hide() и toggle()
