//- show-hide-toggle
extends ../includes/layout

block content
  main
    header: h1 Функции show(), hide() и toggle()
    section
      header: h2 show()
      button.js-show Показать блок
      button.js-hide Скрыть блок
      .js-hidden-block.spoiler
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. In modi voluptatibus laborum repudiandae nemo harum,
          |expedita quia deleniti a deserunt dignissimos, illo tempore at velit voluptas minima labore aliquid repellat?
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. In modi voluptatibus laborum repudiandae nemo harum,
          |expedita quia deleniti a deserunt dignissimos, illo tempore at velit voluptas minima labore aliquid repellat?
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. In modi voluptatibus laborum repudiandae nemo harum,
          |expedita quia deleniti a deserunt dignissimos, illo tempore at velit voluptas minima labore aliquid repellat?

